.env
node_modules
.DS_Store

# build files
es/
esm/
cjs/
lib/
dist/
**/cache/
**/.cache/

_site
_static_site
package
tmp*
temp*
coverage
test-report.html
.idea/

# lock
package-lock.json
pnpm-lock.yaml

*.zip
*.log
Dockerfile
.eslintcache
prettierrc
